.Home {
}

.Home h1.ui.header {
    font-size: 4rem;
}

.Home h1.ui.header .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home h1.ui.header .content > span {
    font-size: 2rem;
    font-weight: normal;
}
